body {
  background-color: rgb(243, 177, 243);
}
header {
  margin: 5px 0px 10px 0;
  padding: 0px 0px 5px 5px;
}
main {
  margin: 5px 0px 10px 0;
  padding: 0px 15px;
}
em {
  color: green;
}
figcaption {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
p{
  font-size: 10px;
  line-height: 15px;
}
ul{
  font-size: 10px;
}
h2 + P {
  color: #4f8bc9;
}
.black-border {
  border: 2px solid black;
  font-size: 15px;
}
.center {
  margin: 0 auto;
  width: 50%;
}
.different-font {
  font-family: "Courier New", monospace;
}
.main-image {
  width: 250px;
}
#nav {
  padding: 0;
  list-style: none;
}
#nav li {
  display: inline;
}
#nav li a {
  margin: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
#nav li a:hover {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}

/*Media Queries*/
@media (min-width: 1024px) {
  body {
    background-color: rgb(172, 74, 172);
  }
  p, ul {
    color: chartreuse;
    font-size: 20px;
    line-height: 20px;
  }
  .main-image {
    width: 400px;
  }
  .black-border {
    border: 2px solid black;
    font-size: 25px;
}
